:root {
  --purple-1: #0C0032;
  --purple-2: #190061;
  --purple-3: #240090;
  --purple-4: #3500d3;
  --dark-grey: #282828;
  --black: #020612;
  --white: #EDF5E1;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--black);
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Anonymous Pro', monospace;
  /* font-weight: 600; */
  color: var(--white);
  opacity: 1;
}

body::-webkit-scrollbar {
  display: none;
}

body {
  -ms-overflow-style: none; 
  scrollbar-width: none;  
}


section {
  width: 100%;
  height: 100vh;
  position: relative;
}

a {
  color: var(--dark-blue);
  text-decoration: none;
}

/* resusable classes*/

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.visibility-hidden {
  visibility: hidden;
}

/* common styles */
.circle {
	position: absolute;
  border: solid 1px var(--white);
	width: 60px; 
	height: 60px; 
  border-radius: 50%;  
  opacity: 1;
  z-index: 60;
}

/* styling classes */
/* nav styles */
.rotating-nav {
  position: fixed;
  bottom: 10px;
  right: 10px;
  width: 40px;
  height: 40px;
  background-color: var(--white);
  z-index: 85;
  border-radius: 50%;
}

.nav-icon {
  position: relative;
  height: 100%;
  width: 100%;
  gap: 2px;
  z-index: 90;
  cursor: pointer;
  border-radius: 50%;
}

.nav-icon span {
  width: 20px;
  height: 3px;
  display: block;
  background-color: var(--purple-1);
  border-radius: 3px;
  transition: all 0.3s ease-in-out;
}

/* nav icon animations */

.nav-icon.is-active {
  transition: all 0.3s ease-in-out;
  transition-delay: 0.6s;
  transform: rotate(45deg);
}

.nav-icon.is-active span:nth-child(1),
.nav-icon.is-active span:nth-child(3) {
  transition-delay: 0.3s;
}

.nav-icon.is-active span:nth-child(1) {
  transform: translateY(5px);
}

.nav-icon.is-active span:nth-child(2) {
  visibility: hidden;
}

.nav-icon.is-active span:nth-child(3) {
  transform:  translateY(-5px) rotate(90deg);
}

/* nav link animations */
.page-links {
  position: absolute;
  top: -40px;
  right: 0;
  width: 60px;
  color: var(--white);
  z-index: 80;
  transition: all 0.6s ease-in-out;
}

.page-links span {
  width: 0;
  display: block;
  border-bottom: 1px solid var(--white);
  visibility: hidden;
  transform: rotate(0) translateX(0) translateY(0);
  transition: all 0.3s ease-in-out;
}

.page-links.is-active {
  visibility: visible;
  right: 80px;
}

.page-links.is-active span {
  width: 80px;
  visibility: visible;
}

.home-container {
  width: 100%;
  height: 100%;
  padding: 4rem;
  display: grid;
  grid-template-columns: 40% 40%;
  gap: 10%;
}

.text-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  line-height: 30px;
  height: 100%;
}

/* greeting animation */
.greeting-container {
}

.greeting-container span {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  max-width: 300px;
  font-family: 'waiting for the sunrise', cursive;
  border-right: .15em solid var(--purple-4);
  font-size: 34px;
  letter-spacing: 0.15em;
  animation: typing 1.5s steps(15, end),
  blink-caret .75s step-end infinite;
}

/* my descriptions container */
.my-description {
  text-align: justify;
  animation: fade-in 1.5s ease-in;
}

.profile-image img {
  width: 100%;
  height: 100%;
  border-radius: 2rem;
  border: 3px solid var(--white);
  padding: 10px;
}

/* animations */
@keyframes typing {
  from { width: 0 }
  to { width: 300px }
}

@keyframes fade-in {
  from { opacity: 0 }
  to {opacity: 1 }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: var(--purple-4); }
}

@media screen and (max-width: 1000px) {
    .home-container {
      grid-template-rows: 40% 50%;
      grid-template-columns: none;
      gap: 2%;
    }
    .profile-image {
      grid-row: 1;
      display: flex;
      justify-content: center;
    }
    .profile-image img {
      width: 300px;
    }
    .circle {
      display: none;
    }
}

.layer-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-2);
  margin-top: 20px;
}

.layer-3 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-3);
}


.layer-4 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--purple-4);
}